a:link {
  text-decoration: underline overline;
  color: green;
}

a:link:before {
  content: "[";
}

a:link:after {
  content: "]";
}

/* Style for visited links */
a:visited {
  color: dark-green;
  text-decoration: line-through;
}

/* Style for links when the mouse is over them */
a:hover {
  color: red;
  text-decoration: underline;
}

/* Style for links when they are being clicked */
a:active {
  color: green;
}
  
body {
  max-width: 500px;
  background-color: black;
  color: lime;
  font-family: courier;
  margin: auto;
}

h1 {
  font-weight: 100;
}

html {
  width: 100vw;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul > li {
  padding-left: 1em;
  text-indent: -1em;
  margin-bottom: 5px;
}

ul > li:before {
  content: "-";
  padding-right: 5px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
