body {
  width: 500px;
  background-color: black;
  color: lime;
  font-family: courier;
  margin: auto;
}

h1 {
  font-weight: 100;
}

html {
  width: 100vw;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: "-";
  padding-right: 5px;
}
